<nav class="navbar navbar-expand-sm navbar-custom" style="background-color: #4DB0A0;">
      <a class="nav-item nav-link navbar-brand mb-0 h1" style="color: #FFFFFF; font-weight:bold;" *ngIf="userActive" routerLink="/home">Home</a>
      <a class="nav-item nav-link navbar-brand mb-0 h1" style="color: #FFFFFF; font-weight:bold;" *ngIf="userActive" (click)="logout()">Logout</a>
      <a class="nav-item nav-link navbar-brand mb-0 h1" style="color: #FFFFFF; font-weight:bold;" routerLink="/login" *ngIf="!userActive" >Login</a>
</nav>
<div class="container offset-sm-2" style="width:226px;">
    <router-outlet></router-outlet>
</div>
