<table id="decryptedCaseTable" *ngIf="decryptedDataAvailable" style="width: 96%;font-size:95%;">
  <th *ngFor="let column of headers" style="width: 100%;font-size:95%;">
    {{column}}
  </th>
  <tr *ngFor="let propertyField of decryptedData | keyvalue" style="width: 100%;font-size:95%;">
    <td >{{propertyField.key}}</td>
    <td>{{propertyField.value}}</td>
  </tr>
</table>
<form [formGroup]="decryptForm" (ngSubmit)="decryptCase()" style="margin-top: 4px;">
    <div class="form-group">
        <!--<label for="caseId">Case Id</label>-->
        <input placeholder="Case Id" type="text" formControlName="caseId" class="form-control" />
    </div>
    <div class="form-group">
        <button style="background-color:#4DB0A0;" class="btn btn-primary">
            Decrypt
        </button>
    </div>
</form>

<form [formGroup]="transferForm" (ngSubmit)="shareAccessToHospitals()">
    <div class="form-group">
        <!--<label for="hospitalToTransfer">Destination Hospital</label>-->
        <input placeholder="Target Hospital" type="text" formControlName="hospitalToTransfer" class="form-control"/>
    </div>
    <div class="form-group">
        <button class="btn btn-success" style="background-color:#5373AF;">
            Transfer License
        </button>
    </div>
</form>
<div class="container" *ngIf="!userActive">
  <div>
    <h5>You need to be logged in first, before coming here!</h5>
  </div>
</div>

